.carousel-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.test-section {
  padding-top: 5rem;
  @media (max-width: 768px) {
    padding-top: 1rem;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.mt-3 {
  margin-top: 1rem;
}

.clr-btn {
  background-color: gray;
}
